// fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-clear: #FFFFFF;
$color-clear-secondary: #ECECEC;
$color-dark: #000000;
$color-neutral: #808080;
$color-primary: #008B8B;
$color-secondary: #333580;
$color-tertiary: dodgerblue;

// font sizes
$font-size-small: 0.8rem;

// spacing
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;
$spacing-x-large: 2rem;

// breakpoint
$breakpoint-mobile-landscape: 667px;
$breakpoint-mobile: 492px;